@import url("fonts.css");

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'gotham-rounded';
  text-align: center;
  font-weight: bold;
  font-size: 6em;
  line-height: 115%;
  color: #FFFFFF;
  padding-top: 23%;
}


h2 {
  font-family: 'gotham-rounded';
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 0.9;
  color: #43CDE0;
  position: absolute;

}



h3 {
  font-family: 'lato';
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 2.1;
  letter-spacing: 2.5px;
  color: #000000;
}

h4 {
  font-family: 'lato';
  font-weight: bold;
  font-size: 1em;
  color: #000000;
}

h5 {
  font-family: "lato";
  font-size: .8em;
  color: #000000;
  line-height: 1.5
}

p {
  font-family: 'lato';
  text-align: center;
  font-size: 1.6em;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: #000000;
}

#process-p {
  font-size: 2.7em;
}

hr {
    color: #D7B890;
    background-color:#D7B890;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 25%;
    border-top: none;

}

label {
  font-family: 'lato';
  font-weight: normal;
  line-height: 18px;
	color: #4a4a4a;
  font-size: 20px;
}

form {
  margin-left: 20%;
  margin-bottom: 8em;
  margin-top: -5em;
}

input[type=text]:focus {
  outline: none !important;
  border: .5px solid #43cde0;
  box-shadow: 0 0 5px #43cde0;
}

textarea:focus {
  outline: none !important;
  border: .5px solid #43cde0;
  box-shadow: 0 0 5px #43cde0;
}

input[type=submit]:hover {
  background-color: #6ADDED;
}

input[type=submit] {
  background-color: #43cde0;
  border: none;
  text-align: center;
  font-family: 'lato';
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 50%;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none !important;
}

.carousel,
.item,
.active {
    height: 100%;
    width: 100%;
}

.special,.special .jumbotron {
  width: 100%;
  height:100%;
}

.header-img img{
  width:100%;
  min-height: 100vh;
}

#header-img1 {
    min-height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%), url('images/DSC_1536.JPG'); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%), url('images/DSC_1536.JPG'); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%), url('images/DSC_1536.JPG'); /* For Firefox 3.6 to 15 */
    background: url('images/DSC_1536.JPG'), linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%); /* Standard syntax (must be last) */
}

.carousel-inner {
    height: 100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 100%;
  max-width: none;
  max-height: none;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}

.container img {
  height:100%;
}


.carousel-indicators {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  bottom: 20%;
}

.form-control {
  width: 75%;
}

.description {
  margin:4em;
  margin-top: 7.5em;
  padding-bottom: 4.5em;
}

.drawer-hamburger {
  padding: 20px 1rem 30px;
  background-color: #ffffff;
  z-index: 4;
}

.drawer-nav {
  font-family: 'gotham-rounded';
  width: 200px;
  background-color: transparent;
  overflow:hidden;
}

.drawer--left.drawer-open .drawer-hamburger {
  position: fixed;
  left: 200px;
  background: transparent;
}

.drawer--left .drawer-hamburger, .drawer--left.drawer-open .drawer-nav, .drawer--left.drawer-open .drawer-navbar .drawer-hamburger {
  background-color: #ffffff;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
  background-color: #43CDE0;
}

.drawer-menu-item {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-left: .4em;
  overflow: hidden;
  z-index: 1;
}

.drawer-brand {
  margin-top: 0.75em;
  margin-bottom: 1.5em;
  margin-left: .1em;
  font-size: 2em;
  color: #43CDE0;
}

.drawer-brand a:hover {
  color: #6ADDED;
}

footer {
  background-color: #D7B890;
  color: #FFFFFF;
  padding-top: 20px;
  text-align: center;
  font-size: 3vh;
}

.google-maps {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    max-height:450px !important;
}
.more_margin {
      margin: 1em 12em 0 12em;
    }
.instagram {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom:3em;
  /*height: 500px;*/
}

.item {
  background-size: cover;
  background-position: center center;
}
 #firstCarousel {
   background-image: url("../../images/andy_bowl.jpg");
 }
 #secondCarousel {
   background-image: url("../../images/DSC_0147_edit.jpg");
 }
 #thirdCarousel {
   background-image: url("../../images/interior.jpg");
 }
 #fourthCarousel {
   background-image: url("../../images/IMG_6726.jpg");
 }
.main {
    width: 100%;
    height: 73%;
    background-color: #333;
    color: rgba(255, 255, 255, 0.75);
              fixed;
    background-position: center bottom,	center center;
    background-size: auto,	cover;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 60%;
  margin-top: 0.5em;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.slider-container{
  margin: auto 0px;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

.store-info {
  position: absolute;
  bottom: 3%;
  left: 50%;
  z-index: 1;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 2px 2px 6px #4f4f4f;
  list-style: none;
  font-family: 'gotham-rounded';
  color: #ffffff;
}

.store-info a:hover {
  color: #D7B890;
}

#process_pic {
  background-image: url(../../images/IMG_6752.jpg);
}

#natural_pic {
  left: 50%;
  background-image: url(../../images/topping_pomegranate.jpg);
}

#blue_square{
  background-color: #68d7e6;
  text-align: center;
  margin-bottom: -50%;
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

#blue_square p {
  color: #ffffff;
}

#white-square{
  margin-bottom: -50%;
  border-style: solid 2px #D7B890;
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
  background-color: #e7d4bc;
}

.process_square {
  height: 50%;
  background-size: cover;
}

.process_square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.process-description {
  margin: 0 8em 0 8em;
}

#process-p {
  font-size: 1.8em;
  padding: 2em;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none !important;
}

.store-info:visited {
  color: #ffffff;
}

.store-info:hover {
  color: #43CDE0;
}

.drawer-menu-item:visited {
  color: #000000;
}
.drawer-menu-item:hover {
  color: #43CDE0;
}
.drawer-menu-item:active {
  color: #000000;
}

input[type=submit] {
  background-color: #43cde0;
  border: none;
  text-align: center;
  font-family: 'lato';
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 0px;
}

.row {
  margin-right: 0px;
}

.text_description {
  padding-bottom: 2.5em;
}

.social_media {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}


#About {
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%),url("../../images/IMG_6766.jpg");
  background-position: center bottom, center top;
}

#Menu {
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%), url("../../images/IMG_6738.jpg");
}

#OurProcess {
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%), url("../../images/IMG_6758.jpg");
}

#Contact {
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%), url("../../images/contact.jpg");
}


/* Large */
@media screen and (max-width: 1140px) {
    #process-p {
      font-size: 2.3em;
      padding: 0.8em;
    }
    hr {
      width: 40%;
    }
    h1 {
      padding-top: 25%;
      font-size: 5em;
    }
  }

  /* Medium */

  	@media screen and (max-width: 980px) {
      /* Main */
      p {
        font-size: 1.4em;
      }
      #process-p {
        font-size: 1.7em;
      }
      h1 {
        font-size: 4.8em;

      }
      h3 {
        font-size: 1.9em;
      }
      .more_margin {
        margin: 0 0 10px;
      }
      .process-description {
        width: 80%;
        margin-left: 6em;
      }

    }
    /* Small */
    @media screen and (max-width: 700px) {
      #process-p{
        font-size: 1.2em;
      }
      h1 {
        padding-top: 35%;
        font-size: 4.4em;
      }
      label {
        font-size: 12px;
      }
    }

    /* Small */
    @media screen and (max-width: 580px) {
      p {
        font-size: 1.3em;
      }
      #process-p {
        font-size: 0.8em;
      }
      h1 {
        padding-top: 43%;
        padding-left: 3%;
        font-size: 4.4em;
        text-align: left;
      }
      h3 {
       font-size:1.7em;
      }
      hr {
        width: 60%;
      }

      #OurProcess {
        background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%), url("../../images/IMG_6758_smaller.jpg");
      }

      .process-description {
        margin: 0;
        width: 100%;
      }
      .process_square p {
        font-size: 0.9em;
      }

      label {
        font-size: 12px;
      }
    }

    /* XXSmall */

	@media screen and (max-width: 375px) {
      html, body {
        min-width: 320px;
      }
      h1 {
        padding-top:64%;
        font-size: 3.4em;
        padding-bottom: 8%;
      }
      h3 {
        font-size: 1.5em;
      }
      p{
        font-size: 1.1em;
      }
      #process-p {
        font-size: 0.8em;
      }
      hr {
        width: 85%;
      }

			.main {
        background-position: bottom center, center center;
			}
      .process-description {
        width: 100%;
        margin:0;
      }
      .description {
        margin:4em;
        padding-bottom: 3em;
      }
      .contact-form{
        margin-top:-12em;
      }
      .drawer-brand {
        font-size: 1.3em;
      }
      .logo {
        left: 42%;
      }
      #OurProcess {
        background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%), url("../../images/IMG_6758_smaller.jpg");
      }
      #Contact{
        background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,0.55) 15%,rgba(255,255,255,0.3) 24%,rgba(255,255,255,0.2) 27%,rgba(117,117,117,0.3) 60%,rgba(0,0,0,0.2) 100%), url("../../images/contact_360px.jpg");
        padding-top: 15%;
      }
      .process_square p {
        font-size: 0.9em;
      }

      label {
        font-size: 12px;
      }
